.section-padding {
    padding: 120px 0;
}
.section-title {
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    color: #1b1b1b;
    position: relative;
    margin-bottom: 15px;
}
.section-title2 {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    position: relative;
    line-height: 1.75em;
    margin-bottom: 30px;
}

.section-title span {
    color: #fff;
}
.bg-black {
    background: #1b1b1b;
}
.services .item {
    padding: 60px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .item h2 {
    font-size: 21px;
    margin-bottom: 15px;
    color: #fff;
}

.services .item p {
    margin-bottom: 0;
    color: #999;
    text-align: center;
}

.services .item img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

.services .item:hover p {
    color: #999;
}

