.section-padding {
    padding: 120px 0;
}
.section-title {
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    color: #1b1b1b;
    position: relative;
    margin-bottom: 15px;
}
.section-title2 {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    position: relative;
    line-height: 1.75em;
    margin-bottom: 30px;
}

.section-title span {
    color: #fff;
}
.bg-black {
    background: #1b1b1b;
}

.services .item {
    padding: 60px 30px;
    position: relative;
}

.services .item h5 {
    font-size: 21px;
    margin-bottom: 15px;
    color: #fff;
}

.services .item p {
    margin-bottom: 0;
    color: #999;
}

.services .item img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

.services .item:hover p {
    color: #999;
}

.border-1 {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.border-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.border-3 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.border-4 {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: none;
}

.border-5 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.border-6 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

}

@media screen and (max-width: 480px) {
    .border-4 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .border-5 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}